
form#number {
    width: 60vw;
    max-width: 100px;
  }

  .centered{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pink{
    background-color: #EA0B8C;
      color: #fff;      
  }

  #boton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12% 37%;
  }
  #A{
    margin: 8% 4%;
  }

  