<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <!--scripts de jquery-->
                <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                    crossorigin="anonymous"></script>
                <!--hojas de estilo de bootstrap y de main.css -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                    crossorigin="anonymous">
                <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">    <link rel="stylesheet" href="css/main.css">
                <link rel="stylesheet" href="../css/register.css">               
                <link rel="stylesheet" href="../build/css/intlTelInput.css">

                <!-- Título web page-->
                <title>Lyft-Mobile</title>
                <!-- Icono página-->
                <link rel="shortcut icon" href="../assets/images/icon.png">
              </head>
<body>

    

    <header>
            <div class="container-fluid">
              <div class="row centered">
                <div class="col-xs-1 container-button centered">
                  <a href="../index.html"> <i class="fa fa-angle-left"></i></a>
                </div>
                <div class="col-xs-10">
                  <h1 class="text-center">Sing UP</h1>
                  <p class="text-center">Join now for free ride credit</p>
                </div>
                <div class="col-xs-12">
                  <hr>
                </div>
              </div>
            </div>
          </header>

          
          <div class="row centered">
            <div class="text-center">
              <form role="form">
                <div class="form-group">
                  <input class="form-control" id="demo" type="tel" placeholder="Introduce tu número">
                </div>
              </form>
            </div>
        </div>

        <button class="btn btn-lg btn-block pink text-uppercase disabled next" type="button">next</button>

        <a href="../index.html">regresar</a>
        <script src="../js/register.js"></script>
        <script src="../build/js/intlTelInput.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</body>
</html>

